<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://angular.io/docs" target="_blank" class="navbar-brand">Angular</a>
        </div>
        <ul class="navbar-nav">
            <li><a  *ngIf="basicAuthentication.isUserAuthenticated()" routerLink="/home/leo" class="nav-link">Home</a></li>
            <li><a  *ngIf="basicAuthentication.isUserAuthenticated()" routerLink="/todos" class="nav-link">Tarefas</a></li>
            <li><a  *ngIf="basicAuthentication.isUserAuthenticated()" routerLink="/usuarios" class="nav-link">Usuários</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!basicAuthentication.isUserAuthenticated()" routerLink="/signup/-1" class="nav-link">Signup</a></li>
            <li><a *ngIf="!basicAuthentication.isUserAuthenticated()" routerLink="/login" class="nav-link">Login</a> </li>
            <li><a *ngIf="basicAuthentication.isUserAuthenticated()" routerLink="/logout" class="nav-link">Logout</a> </li>
        </ul>
    </nav>
</header>