<h1>Tarefas</h1>
<div *ngIf='messageSuccess' class="alert alert-success">{{messageSuccess}}</div>
<div class="container">
  <table class="table">
    <caption></caption>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Data Limite</th>
        <th>Concluída</th>
        <th>Alterar</th>
        <th>Excluir</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date | uppercase}}</td>
        <td>{{todo.done}}</td>
        <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <button (click)="addTodo()" class="btn btn-success">Create</button>
  </div>
</div>